body {
  margin: 0;
}

@font-face {
  font-family: 'TrajanPro-Regular';
  src: url('./assets/fonts/TrajanPro-Regular.ttf');
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
